/* DropZone CSS */
.dropzone:hover {
    background-color: #243d78 !important;
    color: #fff !important;
}

.dropzone:hover .text-secondary,
.dropzone:hover .camera-icon {
    color: #fff !important;
}

/* Header CSS */
.nav-pills .nav-link {
    color: #4d4d66;
    font-weight: 500;
    margin-right: 12px;
    border-radius: 8px;
}

.nav-pills .nav-link.active-nav {
    background-color: #4b0082;
    /* Purple highlight */
    color: white;
    font-weight: 600;
}

.fixed-width {
    width: 324px !important;
}

.custom-dropdown .cd-toggle {
    height: 36px;
    background-color: #243e79;
    border: 1px solid #243e79;
    color: white;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 12px;
    font-weight: 500;
}

.custom-dropdown .cd-toggle:hover,
.custom-dropdown .cd-toggle:focus {
    background-color: #1b2f5a;
    border-color: #1b2f5a;
}

.cd-menu {
    text-align: center;
    min-width: 160px;
}

.cd-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    transition: all 0.2s ease;
    font-weight: 500;
}

/* Hover effect */
.cd-item:hover {
    background-color: #243e79;
    color: white;
}

/* Selected item */
.cd-item.active {
    background-color: #243e79;
    color: white;
}

.custom-dropdown-item {
    transition: 0.2s ease;
}

.custom-dropdown-item:hover {
    background: #243e79 !important;
    /* purple */
    color: white !important;
}

.custom-dropdown-item:hover i {
    color: white !important;
}

.dot-menu-btn {
    padding: 4px 8px;
    border-radius: 6px;
}

.dot-menu-btn:hover {
    background-color: #243e79 !important;
    color: white !important;
}

.dot-menu-btn:hover i {
    color: white !important;
    /* icon turns white on hover */
}